.page {
    margin-top: 1em;
    background-color: #39b91d
}

.insert {
    width: 70%;
    border-radius: 10px;
    border-color: black;
    padding: 12px;
}

.button {
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: black;
    border-color: white;
    box-shadow: none;
    font-size: 1rem;
}

.picture {
    width: 50%;
    height: 50%;
    transform: rotate(180deg)
}

.form-options {
    border-radius: 50px;
    padding: 7px;
    color: white;
    background-color: black;
    border-color: white;

}

/* Popup container */
.popup {
    width: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 10px;
    border-color: black;
    padding: 12px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Hide and show the popup as toggle */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}