.page {
    margin-top: 5em;
    background-color: #39b91d
}

.insert {
    width: 70%;
    border-radius: 10px;
    border-color: black;
    padding: 12px;
}

.button {
    border-radius: 10px;
}

.picture {
    width: 50%;
    transform: rotate(180deg)
}