{% extends 'base.html' %}

{% block content %}

    <img src="static/images/spotify_logo.png" alt="Logo" class="picture">
    <h1>{% block title %} Welcome to Listify! {% endblock %}</h1>
    <h5>Download your Spotify playlists and get the song files in highest quality</h5>
    
    <form method="post" action="{{url_for('download')}}">
        <div class="form-group">
            <label for="content"></label>
            <input class="insert" type="text" name="playlist" 
            placeholder="Paste Spotify Playlist Link here"
            value="{{ request.form['playlist'] }}"></input>

            <br></br>
            <label for="filetype">Choose a filetype:</label>
            <select id="filetype" name="filetype" class="form-options">
                <option value=".wav">wav</option>
                <option value=".mp3">mp3</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value='Download' class="button"></input>
        </div>
    </form>

{% endblock %}

