{% extends 'base.html' %}

{% block content %}

    <img src="static/images/spotify_logo.png" alt="Logo" class="picture">
    <h1>{% block title %} Welcome to Listify! {% endblock %}</h1>
    <h5>Download your Spotify playlists and get the song files in highest quality</h5>
    
    <div class="popup" id="popup"></div>
    <div id="progress"></div>

    <div class="form-group">
        <label for="content"></label>
        <input class="insert" type="text" name="playlist" id="playlist"
        placeholder="Paste Spotify Playlist Link here"></input>

        <br></br>
        <label for="filetype">Choose a filetype:</label>
        <select id="filetype" name="filetype" class="form-options">
            <option value=".wav">wav</option>
            <option value=".mp3">mp3</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value='Download' class="button" onclick="return check_playlist_length(document.getElementById('playlist').value, document.getElementById('filetype').value)"></input>
    </div>

    <script>
        function start_long_task(playlist_id, filetype) {
            // add task status elements 
            div = $('<div id="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div>');
            $('#progress').append(div);
            
            // create a progress bar
            var nanobar = new Nanobar({
                bg: '#44f',
                target: div[0].childNodes[0]
            });
            
            console.log('we got here!')
            const playlist_too_long = 0
            // send ajax POST request to start background job
            if (playlist_too_long == 1){
                $.ajax({
                type: 'POST',
                url: '/download',
                data: JSON.stringify({playlist_id: playlist_id, filetype: filetype }),
                contentType: "application/json",
                dataType: 'json',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Error at download: ', error);
                }
            });
            }
        }

    </script>

    <script>
        function check_playlist_length(playlist_id, filetype) {
            // send ajax POST request to check playlist length
            $.ajax({
                type: 'POST',
                url: '/playlist_check',
                data: JSON.stringify({playlist_id: playlist_id, filetype: filetype }),
                contentType: "application/json",
                dataType: 'json',
            }).done(function (data) {
                // check if playlist too long
                if (data.response == true) {
                    // create popup div
                    var popup_div = $('<div class="popuptext" id="myPopup" onclick="start_long_task(`placeholder`, `placeholder`)">Click me to continue!</div>')
                    $('#popup').append(popup_div)
                    // load the window
                    var popup_window = document.getElementById("myPopup");
                    popup_window.classList.toggle("show");
                } else {
                    // we can directly start with the download
                    start_long_task(playlist_id, filetype)
                }
            }).fail(function (error) {
                alert('Error at playlist check: ', error);
            });
        }
    </script>

    <script>

        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if (data['status'] == 'Finished downloads! Zipping now...') {
                        // show result
                        $(status_div.childNodes[3]).text('Result: ' + data['result']);
                        $(status_div).remove();
                        // redirect to url to download zip file
                        window.location = "/send_zip_file"
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                        setTimeout(function() {
                            $(status_div).remove();
                        }, 3000);
                        
                    }
                }
                else {
                    // rerun every second
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 3000);
                }
            });
        }
    </script>


{% endblock %}

